---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

/*
 The bottom padding is defined as '0.5em' in both
 'div.highlighter-route' and 'div.highlighter-route.hightlight' .
 The following definition cancels the double definition.
*/
div.highlighter-rouge .highlight {
 padding-bottom:0em;
}

.contents-table-label{
  margin: 0em;
}

.exercise-title {
  font-size: larger;
}

.nonumber.class-h1:before{
  counter-increment: none;
  content: "";
}
.counter-style-upper-alpha.class-h1:before{
  content: counter(h1, upper-alpha) ". ";
}

.nonumber.class-h2:before{
  counter-increment: none;
  content: "";
}

.startsec2{
  counter-set: h1 1;
}
.startsec3{
  counter-set: h1 2;
}
.startsec4{
  counter-set: h1 3;
}
.startsec5{
  counter-set: h1 4;
}
.startsec6{
  counter-set: h1 5;
}
.startsec7{
  counter-set: h1 6;
}
