---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

.nonumber.class-h1:before{
  counter-increment: none;
  content: "";
}
.counter-style-upper-alpha.class-h1:before{
  content: counter(h1, upper-alpha) ". ";
}

.startsec2{
  counter-set: h1 1;
}
.startsec3{
  counter-set: h1 2;
}
.startsec4{
  counter-set: h1 3;
}
.startsec5{
  counter-set: h1 4;
}
.startsec6{
  counter-set: h1 5;
}
.startsec7{
  counter-set: h1 6;
}
